section.container
  .columns
    .column.is-4
      .box
        figure.image
          img(src='images/feiyan.jpg')
          figcaption
            p.has-text-purple.has-text-centered.is-size-6 严飞      副教授
            p.has-text-centered.is-size-7 《清华社会学评论》 执行主编
    .column.is-8
      article
        .box
          p.has-text-grey-light
            | 研究领域: 历史社会学      政治社会学     文化社会学
            br
            | 教育经历：
            br
            | 2014年，牛津大学社会学系，博士学位 2011年，斯坦福大学东亚研究系，硕士学位
            br
            | 2005年，牛津大学社会政策系，硕士学位 2004年，复旦大学社会学系，学士学位
            br
            | 工作经历:
            br
            | 2017年—迄今，清华大学社会学系，副教授
            br
            | 2016年—2017年，清华大学社会学系，助理教授
            br
            | 2015年—2016年，斯坦福大学亚太研究中心，Visiting Research Fellow
            br
            | 2014年—2015年，斯坦福大学亚太研究中心，Postdoctoral Fellow
            br
            | 2012年—2014年，斯坦福大学社会学系，Pre-doctoral Fellow
            br
            | 2005年—2008年，香港城市大学应用社会科学系，Research Associate
            br
          p
  .container
    article.message
      .message-body.content
        ul
          li Li, Shuanglong, Yunsong Chen and Fei Yan. 2019. “Searching for red songs: The politics of revolutionary nostalgia in contemporary China.” The China Quarterly
          li Yan, Fei, Zhou Zhong, Haoning Wang and Qiao Wen. 2019. “Grafting identity: Textbook reform and identity building in contemporary China.” Journal of Educational Change
          li Fan, Xiaoguang and Fei Yan. 2019. “The long shadow: Social mobility and political participation in urban China, 2006–2012.” Social Science Research
          li Yan, Fei. 2019. “Dynamics of multidimensional interaction in social movements.” International Sociological Association E-Symposium
          li Yan, Fei. 2019. Review of “Violence, Periodization and Definition of the Cultural Revolution: A Case Study of Two Deaths of the Red Guards.” By Joshua Zhang and James D. Wright (Leiden: Brill, 2018). The China Journal, 82
          li Yan, Fei. 2019. Review of “The Contentious Public Sphere: Law, Media, and Authoritarian Rule in China.” By Ya-wen Lei (New Jersey, NY: Princeton University Press, 2017). Studies of Transition States and Societies, 11(1)
          li Yan, Fei. 2018. “Political dynamics of mass factionalism: Rethinking factional conflict in Guangzhou, 1967.” China: An International Journal, 16(4), 1–25.
          li Yan, Fei, Guangye He and Yunsong Chen. 2018. “The health consequences of social mobility in contemporary China.” International Journal of Environmental Research and Public Health, 15(12), 2644.
          li Yan, Fei. 2018. “Urban poverty, economic restructuring, and poverty reduction policy in urban China: Evidence from Shanghai, 1978–2008.” Development Policy Review, 36(4), 465–481.
          li Chen, Yunsong and Fei Yan. 2018. “International visibility as determinants of foreign direct investment: An empirical study of Chinese provinces.” Social Science Research, 76, 23–39.
          li Chen, Yunsong, Fei Yan and Yi Zhang. 2017. “Local name, global fame: The international visibility of Chinese cities in modern times.” Urban Studies, 54(11), 2652–2668.
          li Yang, Wenqi and Fei Yan. 2017. “The annihilation of femininity in Mao’s China: Gender inequality of sent-down youth during the Cultural Revolution.” China Information, 31(1), 63–83.
          li Yan, Fei. 2017. Review of “Protest Cultures: A Companion.” By Kathrin Fahlenbrach, Martin Klimke and Joachim Scharloth (eds.) (New York: Berghahn, 2016). Social History, 42(2), 304–305.
          li Chen, Yunsong and Fei Yan. 2016. “Centuries of sociology in millions of books.” The Sociological Review, 64(4), 872–893.
          li Chen, Yunsong and Fei Yan. 2016. “Economic performance and public concerns about social class in twentieth-century books.” Social Science Research, 59, 37–51.
          li Yan, Fei. 2016. “Chinese Cultural Revolution.” In Janeen Baxter (ed.). Oxford Bibliographies in Sociology. New York: Oxford University Press.
          li Yan, Fei. 2015. “Rival rebels: The political origins of Guangzhou’s mass factions in 1967.” Modern China, 41(2), 168–196.
          li [Winner of Graduate Student Best Paper Prize, China and Inner Asia Council, Association for Asian Studies]
          li Yan, Fei. 2015. Review of “Will China Democratize.” By Andrew Nathan, Larry Diamond and Marc F. Plattner (eds.) (Baltimore, MA: The Johns Hopkins University Press, 2013). Political Studies Review, 13(3), 462.
          li Yan, Fei. 2013. “A little spark kindles a great fire? The paradox of China’s rising wave of protest.” Social Movement Studies, 12(3), 342–348.
          li Yan, Fei. 2013. “Nationalist movements in Korea and Taiwan under Japanese colonialism: Homogeneity and diversity.” Stanford Journal of East Asian Affairs, 13(1), 100–107.
