footer.footer
  .container.is-fluid
    .columns
      .column.is-4.is-pulled-left
        .columns
          .column.is-6.is-pulled-left
            figure.image
              img(src='images/DepLogo.png')
        ul
          li Beijing Haidian
          li Xiongzhixing Building, Tsinghua University
          li Room 212, 100084
          br
          p Department of Sociology Tsinghua University
          p All rights reserved
      .is-divider-vertical
      .column.is-4
        .columns
          .column.is-6
            ul
              li Official WeChat Account
              li Tsinghua Homepage
              li About Us
          .column.is-8
            ul
              li Three Schools Sociological Forum
              li Site of Chinese Sociological anthropology 
              li Chinese Sociology Network
              li Sociological information resource navigation
              li Department of Sociology, Peking University
      .is-divider-vertical
      .column.is-4.is-offset-1
        .columns
          .column.is-3
            img.icon-image(src='images/wechat.svg')
          .column.is-3
            i.fa.fa-phone.fa-2x
          .column.is-3
            i.fa.fa-envelope-o.fa-2x
          .column.is-3
            i.fa.fa-twitter.fa-2x
script(src='js/script.js')
