
.container
  article.tile.is-child.notification.is-white
    div
      span.is-pulled-left xddddddddxdddddd
      span.is-pulled-right 2019-01-01
    div
      span.is-pulled-left xddddddddxdddddd
      span.is-pulled-right 2019-01-01
    div
      span.is-pulled-left xddddddddxdddddd
      span.is-pulled-right 2019-01-01
    div
      span.is-pulled-left xddddddddxdddddd
      span.is-pulled-right 2019-01-01
