section
  nav.navbar
    .navbar-brand
      img.thu-logo(src='images/Tsinghua_University_logo.png', alt='Logo')
      span.navbar-burger.burger(data-target='navbarMenu')
        span
        span
        span
    #navbarMenu.navbar-menu
      .navbar-end
        .navbar-item.is-hoverable.is-mega
          a(href='./index.html') Home
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item', href='./contact_us.html#links')
                    h3.title.is-mega-menu-title.is-6 Links
                .column
                  a(class='navbar-item', href='./contact_us.html#contact')
                    h3.title.is-mega-menu-title.is-6 Contact Us
        .navbar-item.is-hoverable.is-mega
          a(href='./news.html') About
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item', href='./about.html#about_us')
                    h3.title.is-mega-menu-title.is-6 About Us
                .column
                  a(class='navbar-item', href='./about.html#dep_history')
                    h3.title.is-mega-menu-title.is-6 Department History
                .column
                  a(class='navbar-item', href='./about.html#message_chair')
                    h3.title.is-mega-menu-title.is-6 Message from Department Chair
        .navbar-item.is-hoverable.is-mega
          a(href='./faculty.html') People
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item', href='./faculty.html#overview')
                    h3.title.is-mega-menu-title.is-6 Overview
                .column
                  a(class='navbar-item', href='./faculty.html#faculty')
                    h3.title.is-mega-menu-title.is-6 Faculty
                  .navbar-content
                    a(class='navbar-item', href='./faculty.html#sociology') Sociology Faculty
                    a(class='navbar-item', href='./faculty.html#affliates') Faculty Affiliates
                    a(class='navbar-item', href='./faculty.html#emerti') Emeriti
                .column
                  a(class='navbar-item', href='./faculty.html#staff')
                    h3.title.is-mega-menu-title.is-6 Staff
        .navbar-item.is-hoverable.is-mega
          a(href='./news.html') News and Events
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item', href='./news.html')
                    h3.title.is-mega-menu-title.is-6 Recent News
                .column
                  a(class='navbar-item', href='./events.html')
                    h3.title.is-mega-menu-title.is-6 Upcoming Events
        .navbar-item.is-hoverable.is-mega
          a(href='./research.html') Research
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item', href='./research.html#cluster')
                    h3.title.is-mega-menu-title.is-6 Research Clusters
                .column
                  a(class='navbar-item', href='./research.html#publications')
                    h3.title.is-mega-menu-title.is-6 Publications
                  .navbar-content
                    a(class='navbar-item', href='./research.html#books') Books
                    a(class='navbar-item', href='./research.html#articles') Articles
                .column
                  a(class='navbar-item', href='./research.html#journals')
                    h3.title.is-mega-menu-title.is-6 Journals
                  .navbar-content
                    a(class='navbar-item', href='./research.html#TSSR') Tsinghua Sociological Review
                    a(class='navbar-item', href='./research.html#SPR') Social Policy Research
                .column
                  a(class='navbar-item', href='./research.html#workshop')
                    h3.title.is-mega-menu-title.is-6 Worshops
        .navbar-item.is-hoverable.is-mega
          a(href='#') Academics
          .navbar-dropdown
            .container.fluid
              .columns
                .column
                  a(class='navbar-item', href='./academics_gradudate.html')
                    h3.title.is-mega-menu-title.is-6 Undergraduate
                .column
                  a(class='navbar-item', href='./academics_undergraduate.html')
                    h3.title.is-mega-menu-title.is-6 Graduate 
                .column
                  a(class='navbar-item', href='./academics_overseas.html')
                    h3.title.is-mega-menu-title.is-6 Overseas
        .navbar-item.is-hoverable.is-mega
          a(href='./admissions.html') Admissions and Employment
          .navbar-dropdown
            .container.fluid
              .columns
                .column
                  a(class='navbar-item', href='./admissions.html#admissions')
                    h3.title.is-mega-menu-title.is-6 Admissions
                .column
                  a(class='navbar-item', href='./admissions.html#employment')
                    h3.title.is-mega-menu-title.is-6 Employment
                  .navbar-content
                    a(class='navbar-item', href='./admissions.html#faculty') Faculty Positions
                    a(class='navbar-item', href='./admissions.html#postdoc') Postdoc Positions
        .navbar-item.is-hoverable.is-mega
          a(href='#') Students
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item', href='./current_students.html')
                    h3.title.is-mega-menu-title.is-6 Current Students
                .column
                  a(class='navbar-item', href='./alumni.html')
                    h3.title.is-mega-menu-title.is-6 Alumni
        .navbar-item.is-hoverable.is-mega
          a(href='./party.html') Party
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item', href='./party.html#activity')
                    h3.title.is-mega-menu-title.is-6 Party Activities
                .column
                  a(class='navbar-item', href='./party.html#build')
                    h3.title.is-mega-menu-title.is-6 Party Building
hr.has-background-grey-light
