@import "./hero.css"

$title-color: #743582 !important
$subtitle-color: #743582 !important
$title-weight: 300
$subtitle-weight: 200
$box-shadow: 0

$pagination-current-background-color: hsl(280, 51.6%, 37%)
$pagination-current-border-color: hsl(280, 51.6%, 37%)
$notification-background-color: hsla(0, 0%, 100%, 0)

@import "node_modules/bulma/sass/utilities/_all.sass"
@import "node_modules/bulma/sass/base/_all.sass"
@import "node_modules/bulma/sass/elements/container.sass"
@import "node_modules/bulma/sass/elements/container.sass"
@import "node_modules/bulma/sass/elements/title.sass"
@import "node_modules/bulma/sass/elements/image.sass"
@import "node_modules/bulma/sass/elements/box.sass"
@import "node_modules/bulma/sass/elements/notification.sass"
@import "node_modules/bulma/sass/components/navbar.sass"
@import "node_modules/bulma/sass/layout/_all.sass"
@import "node_modules/bulma/sass/grid/_all.sass"
@import "node_modules/bulma/sass/components/pagination.sass"
@import "node_modules/bulma/sass/components/menu.sass"
@import "node_modules/bulma/sass/components/modal.sass"

nav
  padding-top: 2rem
  padding-left: 2rem
  padding-right: 2rem

.thu-logo
  max-height: 5rem

.icon-image
  max-height: 2rem
  max-width: 2rem

.navbar-item a
  color:#743582 

.footer
  color:#743582
  a
    color:#743582

hr
  background-color: darkgray

body
  line-height: 2.5

i
  color: #743582

.fa.page
  margin: 5rem

.hvrbox,
.hvrbox * 
  box-sizing: border-box

.hvrbox 
  position: relative
  display: inline-block
  overflow: hidden
  max-width: 100%
  height: auto

.hvrbox img 
  max-width: 100%

.hvrbox .hvrbox-layer_bottom 
  display: block
  
.hvrbox .hvrbox-layer_top
  opacity: 0
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.6)
  color: #fff
  padding: 15px
  -moz-transition: all 0.4s ease-in-out 0s
  -webkit-transition: all 0.4s ease-in-out 0s
  -ms-transition: all 0.4s ease-in-out 0s
  transition: all 0.4s ease-in-out 0s

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top 
  opacity: 1

.hvrbox .hvrbox-text 
  text-align: center
  font-size: 18px
  display: inline-block
  position: absolute
  top: 50%
  left: 50%
  -moz-transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.hvrbox .hvrbox-text_mobile 
  font-size: 15px
  border-top: 1px solid rgb(179, 179, 179) // for old browsers 
  border-top: 1px solid rgba(179, 179, 179, 0.7)
  margin-top: 5px
  padding-top: 2px
  display: none

.hvrbox.active .hvrbox-text_mobile 
  display: block


.has-text-purple
  color: #743582

.has-background-pale-grey
  background-color: #efebeb

.has-background-light-purple
  background-color: #f2e7f5

.navbar-item.is-mega
  position: static
  .is-mega-menu-title
    margin-bottom: 0
  a 
    width: 100%
    display: inline-block

.sticky
  position: relative
  position: sticky
  position: -webkit-sticky
  top:0 
  margin-left: 4rem
  margin-top: 6rem

.content-tab
  display: none

.content-tab.is-active
  display: block
  min-height: 50rem

.accordion
  transition: 0.4s

.accordion-panel
  display: none

.accordion-panel.is-active
  display: block

.menu-list li
  margin: 1rem

span.qr-code > figure, p
  display: inline-block

