footer.footer
  .container.is-fluid
    .columns
      .column.is-4.is-pulled-left
        .columns
          .column.is-6.is-pulled-left
            figure.image
              img(src='images/DepLogo.png')
        ul
          li 北京·海淀
          li 清华大学·熊知行楼
          li 212室·100084
          br
          p 2019 清华大学社会学系
          p All Rights Reserved. 北京, 100084, 中国
      .is-divider-vertical
      .column.is-4
        .columns
          .column.is-6.is-offset-2
            ul
              li 
                a(href='http://www.tsinghua.edu.cn/') 清华主页
              li 
                a(href='about_us.html') 关于我们
          .column.is-8
            ul
              li 
                a(href='http://www.shehui.pku.edu.cn/') 北京大学社会学系
              li 
                a(href='http://ssps.ruc.edu.cn/') 中国人民大学社会与人口学院
              li 
                a(href='http://cass.cssn.cn/') 中国社会科学院
      .is-divider-vertical
      .column.is-4
        .columns
          .column.is-offset-1
            .modal
              .modal-background
              .modal-content
                img.qr-image(src='images/thu-sociology.png')
            img.icon-image(src='images/wechat.svg', id='open-modal', aria-label='close')
          .column
            a(href='tel:010-62795086')
              i.fa.fa-phone.fa-2x
          .column
            a(href='mailto:soc@tsinghua.edu.cn')
              i.fa.fa-envelope-o.fa-2x
script(src='js/script.js')
