
.container
  article.tile.is-child.notification.is-white
    div
      span.is-pulled-left 低生育水平与人口发展战略
      span.is-pulled-right 2019-01-01
    div
      span.is-pulled-left 博士生学术工作坊  第五期 本周六下午两点
      span.is-pulled-right 2019-01-01
    div
      span.is-pulled-left 讲座预告：清华社会学系政治社会学系列讲座
      span.is-pulled-right 2019-01-01
    div
      span.is-pulled-left 清华历史社会学系列讲座01
      span.is-pulled-right 2019-01-01
