section
  nav.navbar
    .navbar-brand
      img.thu-logo(src='images/Tsinghua_University_logo.png', alt='Logo')
      span.navbar-burger.burger(data-target='navbarMenu')
        span
        span
        span
    #navbarMenu.navbar-menu
      .navbar-end
        .navbar-item.is-hoverable.is-mega
          a(href='./index.html') 首页
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./contact_us.html#links')
                    h3.title.is-mega-menu-title.is-6 快速链接
                .column
                  a(class='navbar-item has-text-right', href='./contact_us.html#contact')
                    h3.title.is-mega-menu-title.is-6 联系我们
        .navbar-item.is-hoverable.is-mega
          a(href='./about.html') 我系概况
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./about.html#about_us')
                    h3.title.is-mega-menu-title.is-6 本系现状
                .column
                  a(class='navbar-item has-text-right', href='./about.html#dep_history')
                    h3.title.is-mega-menu-title.is-6 历史沿革
                .column
                  a(class='navbar-item has-text-right', href='./about.html#message_chair')
                    h3.title.is-mega-menu-title.is-6 主任致辞
        .navbar-item.is-hoverable.is-mega
          a(href='./faculty.html') 师资队伍
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./faculty.html#overview')
                    h3.title.is-mega-menu-title.is-6 师资概括
                .column
                  a(class='navbar-item has-text-right', href='./faculty.html#faculty')
                    h3.title.is-mega-menu-title.is-6 教师介绍
                .column
                  a(class='navbar-item has-text-right', href='./faculty.html#staff')
                    h3.title.is-mega-menu-title.is-6 行政人员
        .navbar-item.is-hoverable.is-mega
          a(href='./news.html') 新闻公告
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./news.html')
                    h3.title.is-mega-menu-title.is-6 新闻动态
                .column
                  a(class='navbar-item has-text-right', href='./events.html')
                    h3.title.is-mega-menu-title.is-6 通知预告
        .navbar-item.is-hoverable.is-mega
          a(href='./research.html') 学术研究
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./research.html#cluster')
                    h3.title.is-mega-menu-title.is-6 研究机构
                .column
                  a(class='navbar-item has-text-right', href='./research.html#publications')
                    h3.title.is-mega-menu-title.is-6 学术成果
                .column
                  a(class='navbar-item has-text-right', href='./research.html#journals')
                    h3.title.is-mega-menu-title.is-6 学术期刊
                .column
                  a(class='navbar-item has-text-right', href='./research.html#workshop')
                    h3.title.is-mega-menu-title.is-6 Worshops
        .navbar-item.is-hoverable.is-mega
          a(href='./academics_undergraduate.html') 人才培养
          .navbar-dropdown
            .container.fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./academics_gradudate.html')
                    h3.title.is-mega-menu-title.is-6 本科生培养
                .column
                  a(class='navbar-item has-text-right', href='./academics_undergraduate.html')
                    h3.title.is-mega-menu-title.is-6 研究生培养
                .column
                  a(class='navbar-item has-text-right', href='./academics_overseas.html')
                    h3.title.is-mega-menu-title.is-6 留学生培养
        .navbar-item.is-hoverable.is-mega
          a(href='./admissions.html') 招生招聘
          .navbar-dropdown
            .container.fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./admissions.html#admissions')
                    h3.title.is-mega-menu-title.is-6 招生信息
                .column
                  a(class='navbar-item has-text-right', href='./admissions.html#employment')
                    h3.title.is-mega-menu-title.is-6 招聘信息
        .navbar-item.is-hoverable.is-mega
          a(href='#') 学生事务
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./current_students.html')
                    h3.title.is-mega-menu-title.is-6 学生信息
                .column
                  a(class='navbar-item has-text-right', href='./alumni.html')
                    h3.title.is-mega-menu-title.is-6 系友通讯
        .navbar-item.is-hoverable.is-mega
          a(href='./party.html') 党委党建
          .navbar-dropdown
            .container.is-fluid
              .columns
                .column
                  a(class='navbar-item has-text-right', href='./party.html#activity')
                    h3.title.is-mega-menu-title.is-6 党建活动
                .column
                  a(class='navbar-item has-text-right', href='./party.html#build')
                    h3.title.is-mega-menu-title.is-6 党务工作
hr.has-background-grey-light
