nav( class="pagination is-centered" role="navigation" aria-label="pagination")
  a( class="pagination-previous") 上一页
  a( class="pagination-next") 下一页
  ul( class="pagination-list")
    li
      a( class="pagination-link" aria-label="Goto page 1") 1
    li
     span( class="pagination-ellipsis") &hellip;
    li
      a( class="pagination-link" aria-label="Goto page 45") 45
    li 
      a( class="pagination-link is-current" aria-label="Page 46" aria-current="page") 46
    li
      a( class="pagination-link" aria-label="Goto page 47") 47
    li
      span( class="pagination-ellipsis") &hellip;
    li
      a( class="pagination-link" aria-label="Goto page 86") 86
