doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    section.container
      h1.subtitle.is-1 留学生培养
      article 誰領朝夜伝追治絶職堂培政鳥品世。透分賞藤文込工弁容体産暮整誉浩質術載。営推構惑書国米年人最用志立周並史川。校正改法熊低者定稿載前押。作容月行予下欧馬周支約月役聞風問。持聞駅棋半陣係打荷希極潜院質機松楽楽図。跡在泉真催講掲意夫小孝始柳検信野待輝役。難増人万側久二知声析写葉。着女俊広掲刊倉質会娘理青庁度。

      .intro.column.is-12
        figure.image.is-16by9
          img(src='images/Street-art-in-London_1913.jpg')
      article
        | 誰領朝夜伝追治絶職堂培政鳥品世。透分賞藤文込工弁容体産暮整誉浩質術載。営推構惑書国米年人最用志立周並史川。校正改法熊低者定稿載前押。作容月行予下欧馬周支約月役聞風問。持聞駅棋半陣係打荷希極潜院質機松楽楽図。跡在泉真催講掲意夫小孝始柳検信野待輝役。難増人万側久二知声析写葉。着女俊広掲刊倉質会娘理青庁度。

        br
        | 使潜算容参報闘値戦視開規。京麻雨除疑思第豊理面季応天員。名億摘好実締塗神質職話勇軟住竜済乱川戦定。氷新更気禁稿作義東物中疑市債福平。地内少用歩作続日油歳済組秘尽。文能抗神世報提氷性化級由万年視北送越間。本独聞香時週威毅大童病切帯作健五選。一担省勝地円青嘉世真健質料低。中査大決珍所格堂見玲政個約株応合告。

        br
        | 使潜算容参報闘値戦視開規。京麻雨除疑思第豊理面季応天員。名億摘好実締塗神質職話勇軟住竜済乱川戦定。氷新更気禁稿作義東物中疑市債福平。地内少用歩作続日油歳済組秘尽。文能抗神世報提氷性化級由万年視北送越間。本独聞香時週威毅大童病切帯作健五選。一担省勝地円青嘉世真健質料低。中査大決珍所格堂見玲政個約株応合告。
    hr
    include components/footer.pug
