doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          ul.sticky
            li(data-target='admissions') 招生信息
            li(data-target='employment') 教师招聘
        .column
          section(class='section is-medium content-tab is-active', id='admissions')
            h1.title 招生信息
            p 详情请见： http://yz.tsinghua.edu.cn/publish/yjszs/index.html

          section(class='section is-medium content-tab', id='employment')
            h1.title 招聘信息
            p 一、 社会学博士后流动站简介
            p 清华大学社会学博士后科研流动站于2007年经有关部门批准建立，并开始招收博士后研究人员。流动站涵盖“社会学”一级学科，“社会学”与“文化人类学”两个二级学科。流动站以社会学系为主要依托，部分研究领域与法学、城市规划学等学科相交叉。流动站师资力量雄厚，拥有一批国际国内知名的社会学家。
            br
            p 二、 专业研究方向及主要专家
            p 1、城市社会学 李强、罗家德、刘精明、孙凤、王天夫
            p 2、医学社会学 景军、裴晓梅
            p 3、转型社会学 孙立平、郭于华、沈原
            p 4、文化人类学 张小军
            br
            p 三、 联系方式
            p 联系地址：清华大学“熊知行楼”212
            p 邮政编码：100084
            p 联系人： 李彩霞女士
            p 联系电话：（010）62771827－212
            p 传真： （010）62772740
            p 电子邮件：soc@tsinghua.edu.cn
            p 欢迎国内外有志于社会学的博士进站从事研究工作。

    include components/footer.pug
