doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          ul.sticky
            li(data-target='students') 学生信息
            li(data-target='alumni') 系友通讯
        .column
          section.section.is-medium.content-tab.is-active(id='students')
            include components/post_view.pug
          section.section.is-medium.content-tab(id='alumni')
            span.qr-code
              figure.image.is-128x128
                img(src='images/thu-sociology.png')
              p 欢迎各位系友关注微信公号“清华社会学”。我们会在微信号上定期发布清华社会学系的最新发展和校友联谊事宜。
    hr
    include components/footer.pug
