doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      section(class='section is-medium', id='contact')
        h1.title.is-1.has-text-centered 联系我们
        article.content 択田病霞索理遣紀極者月形開事山。大野稿湖実膨特図度梨進車回購学場。自売六文改第研道載断推員。言競切黒未億強理堀聴将的。強明紙昨中野沈欠心道事氏央残子。球発子記市注報与達年理上禁一治女。妻衆備著動運衛惑津怖検児日阪。件問皆昨成長食審物諭転真試。受点決禁保経由録投党公特横能険力組稿。不祉町地転手由跡深元事度。
      section(class='section is-medium', id='links')
        h1.title.is-1.has-text-centered 快速链接
        article.content 関破事我委様庫渡気短品際業機拍必点探。明全連六刊票日権別題権辺現時石対先。判体代住国疑購存県近効部愛非馬津地。島東元当報井法意測報供紀手部需拓昔月健問。佐毎緒権片写討資転図無警覧信文入像本禁。読顔中不造応活局後体出帯控近。続予霊治漏賄的然整東伝受。所惑飛鷲必禁京局事面員応主載。落迷訓度夕包件質館権被明室安。
    include components/footer.pug
