doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    hr.has-background-grey-light
    i.page.fa.fa-angle-left.fa-4x.is-pulled-left
    i.page.fa.fa-angle-right.fa-4x.is-pulled-right
    section.container
      h1.subtitle.is-1 向人中束増食営敏生日王
      article 反名覇子最害必無田更点西然小科。江癌小員読表生来村直郎子数融属殺頭助政本。議田浪拾用辺法者経親殺済非悩続挙攻狙世社。世緒熱治数細発栗井全今身華良仙記行戦図。確線実刊作面月堂国座優八解民歩日。公独賞転哲付必迎低象様像校買防真切北質線。楽転介肺禁増房通握銃国館生護住済。医由浮話元鉄議見担争週簡。養谷火面続珠昨目消戦話半。
      .intro.column.is-12
        figure.image.is-16by9
          img(src='images/Street-art-in-London_1913.jpg')
      article
        | 会約南交考待雄存割個小法事香想引配上緒。認充危無併幕上況題挙画情為止米応混。美供室得新田雪玄害社者聞東穏。級弱改井風考乃壇読国族約実賞売真健。
        br
        | 玉演数酒襲庫禁問理予分実。表元記脱法持著要個済作弁均賞鮮択。具再警的博犬速写養夢賞人線。流文化港残来集生申録警違人更三温針球教怒。年速明重関疑知候対視会才行周改将。
        br
        | 子頭号探作会衰滞仏応局質他第高聞悪掲面来。嘉目強課齢更天者長認量移期。澤派条致何速根身住捕火社。権理謙帯患物始流京井利堂新転構内意速。日八引報連管練婚程売応生三幕確中条一大側。術秋欺北団世美丘用情民加発芸。字以上球大新日不碁迫聞捉名大同里冠術。検造調電住策断問治明表聞無。済麗劇観訴学文覇併回止紙導鈴中椅部年。
        br
        | 主局庫稿真態車上済関不告人記要避開産好車。父直然強湧署秋核治山稿済転売瀬。無米円掲購化議出供報久出奥気要合婚誇師。三鯖壮含定質掲徳込筆人棺開。月国営旅大公善市面境木葬刊総武土陽。造本転席軽本題逆談話出変卜調。目時見無方軍緑面公応健位敗刊条。賞北異候量韓文治崎載毎編八目質間。文製生価価聞断徴漢以各表教具。
    hr
    include components/footer.pug
