doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    section.container
      .columns
        .column.is-4
          .box
            figure.image
              img(src='images/feiyan.jpg')
        .column.is-6.is-offset-1
          article
            .box
              p.has-text-grey-light
                h1.title.has-text-purple.has-text-centered 杜月 助理教授
                p 清华大学社会学系助理教授，美国威斯康星大学麦迪逊分校社会学博士，主要研究领域包括发展社会学、城市社会学、社会理论。论文发表在《社会学研究》、《社会》, Urban Geography等学术期刊。

      hr

      .container
        article.message
          .message-body.content
            h1.title.has-text-purple 教育经历
            ul
              li 2018年，威斯康星大学麦迪逊分校社会学系，获博士学位
              li 2012年， 北京大学社会学系，获硕士学位
              li 2009年，北京大学社会学系，获学士学位

            br

            h1.title.has-text-purple 部分论文
            ul
              li Du, Yue. 2019. “Urbanizing the periphery: Infrastructure funding and local growth coalition in China’s peasant relocation programs.” Urban Geography, forthcoming. 
              li 杜月，2017，《制图术：国家治理研究的⼀个新视⾓》，《社会学研究》2017年第5期， 第 192-217⻚。
              li 杜月，2016，《神圣性与制度化：涂尔干教育史研究的⽂本再解读》，《北京⼤学教育评论》第14卷第4期，第61-77⻚。
              li 杜月，2012，《社会结构与儒家理想：瞿同祖法律与社会研究中的断裂》，《社会》2012年第4期，第50-67⻚。
              li 杜月，2007，《进化视⾓下的间接互惠⾏为》，《社会学研究》2007年第3期，第209-225⻚。

            br

            h1.title.has-text-purple 译著
            ul
              li 涂尔干，2012，《哲学讲稿－1883-1884年桑斯中学课程笔记》（与渠敬东合译）， 北京：商务印书馆。

    hr
    include components/footer.pug
