doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          ul.sticky
            li(data-target='overview') 师资概况
            li(data-target='fulltime') 教师介绍
            li(data-target='staff') 行政人员
        .column
          section.section.is-medium.content-tab.is-active(id='overview')
            h1(class='subtitle is-1 has-text-centered') 师资概括
            article 目前，清华大学的社会学队伍尚处于组建过程中，陆续调入了一批中青年教学骨干，特别注重从国际知名大学引进一流人才。已经和正在调入的有在美国哈佛大学、德州大学、巴黎第十大学等校获得博士学位的人员，甚至是在国际上有一定知名度的学者。从国内调入的教师也都是本学科领域的学术带头人，其中多数人在中国社会学研究和教学领域已有较大的建树，在国内外学术界具有一定的影响。目前的教师队伍包括教授11名，副教授2名，讲师1名，另有清华校内共建博士点教授1名，副教授3名。上述教学人员中9名具有博士生导师资格，一人入选国家教育部第一批“跨世纪优秀人才计划”。此外,社会学系还延聘了一批国际名校社会学系的著名教授担任兼职教学和研究工作，他们分别来自美国哈佛大学、斯坦福大学、耶鲁大学、杜克大学、芝加哥大学、加州大学伯克利分校、加州大学洛杉矶分校、明尼苏达大学、澳洲国立大学。

            hr

            .sandbox
              each row in [1, 2, 3]
                .columns.is-centered
                  each col in [1, 2, 3]
                    .column.is-4
                      .box
                        a(href='faculty_detail.html')
                          figure.image
                            .hvrbox
                              img(src='images/feiyan.jpg')
                              .hvrbox-layer_top
                                .hvrbox-text 目時見無方軍緑面公応健位
                                figcaption
                                  h3.has-text-purple.has-text-centered.is-size-6 燕飞


          section.section.is-medium.content-tab(id='fulltime')
            h1.subtitle.is-1.has-text-centered 全职教师
            .sandbox
              each row in [1, 2, 3]
                .columns.is-centered
                  each col in [1, 2, 3]
                    .column.is-4
                      .box
                        a(href='faculty_detail.html')
                          figure.image
                            .hvrbox
                              img(src='images/feiyan.jpg')
                              .hvrbox-layer_top
                                .hvrbox-text 目時見無方軍緑面公応健位敗刊条
                                figcaption
                                  h3.has-text-purple.has-text-centered.is-size-6 燕飞
            // include components/pagination.pug

            hr

            h2.subtitle.is-2.has-text-centered 兼职教师
            div.has-text-purple 本校跨学科教授
            div 毛其智 教授 清华大学建筑学院 城市规划
            div 尹稚   教授 清华大学建筑学院 城市规划
            div 张杰   教授 清华大学建筑学院 城市规划
            div 谭纵波 教授 清华大学建筑学院 城市规划
            div 边兰春 教授 清华大学建筑学院 城市规划
            div 邵磊   教授 清华大学建筑学院 城市规划
            div 彭凯平 教授 清华大学心理学系 文化与认知

            div.has-text-purple 校外兼职教授
            div 李培林 教授 中国社会科学院社会学所􀀀 社会理论、社会分层与流动

            div.has-text-purple 访问教授
            div 杨大利 教授 芝加哥大学政治学系
            div 周雪光 教授 芝加哥大学政治学系
            div 赵鼎新 教授 芝加哥大学社会学系
            div M i c h a e l S obel 教授 哥伦比亚大学社会学系
            div 李静君 教授 加州州立大学洛杉矶分校社会学系
            div 光􀀀磊  教授 加州州立大学圣地亚哥分校政治学系
          section.section.is-medium.content-tab(id='staff')
            h2.subtitle.is-2.has-text-centered 行政人员
            div 李彩霞
            div 于昕
            div soc@mail.tsinghua.edu.cn

    hr
    include components/footer.pug
