doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    section.container
      .intro.column.is-12
        figure.image.is-16by9
          img(src='images/Street-art-in-London_1913.jpg')
      .sandbox
        .tile.is-ancestor
          .tile.is-parent.is-9.is-vertical
            .tile.is-child.is-shady.has-background-pale-grey
              article.tile.is-child.notification
                div
                  span.title.is-pulled-left 学院要闻
                  a.is-pulled-right(href='news.html') 更多
                hr.has-background-grey-light
                each idx in [1, 2, 3, 4]
                  div
                    span.is-pulled-left
                      a(href='events.html') xddddddddxdddddd
                    span.is-pulled-right 2019-01-01
            .tile.is-child.is-shady.has-background-pale-grey
              article.tile.is-child.notification
                div
                  span.title.is-pulled-left 学术活动
                  a.is-pulled-right(href='research.html') 更多
                hr.has-background-grey-light
                each idx in [1, 2, 3, 4]
                  div
                    span.is-pulled-left
                      a(href='events.html') xddddddddxdddddd
                    span.is-pulled-right 2019-01-01
                
            .tile.is-child.is-shady.has-background-pale-grey
              article.tile.is-child.notification
                p.title 学院出版物
                hr.has-background-grey-light
                div.columns
                  each idx in [1, 2, 3, 4]
                    a(href='research.html')
                      div.column
                        figure.image
                          img(src='images/tsinghua_review.jpg')
                          figcaption.has-text-centered 清华社会学评论
          .tile.is-parent.is-3.is-shady
            article.tile.is-child.box.has-background-light-purple
              p.title 教师风采
              hr
              each idx in [1, 2, 3, 4]
                a(href='events.html')
                  figure.image
                    img(src='images/feiyan.jpg')
                    figcaption.has-text-centered.has-text-grey-dark 余埃特（Armel HUET）教授主讲法国社会学的兴与衰及其对中国社会学发展的启示
    include components/footer.pug
