doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug

    .container
      .columns
        .column.is-3
          ul.sticky
            li(data-target='news') 新闻动态
            li(data-target='events') 通知预告
        .column
          section.section.is-medium.content-tab.is-active(id='news')
            article
              include components/post_view.pug
          section.section.is-medium.content-tab(id='events')
            article
              include components/post_view.pug
    hr
    include components/footer.pug
