doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          ul.sticky
            li(data-target='activity') 党建活动
            li(data-target='work') 党务工作
        .column
          section(class='section is-medium content-tab is-active', id='activity')
            h1.title.is-1.has-text-centered 党建活动
            p.has-text-grey-light 社科学院非全日制研究生临时党支部成立仪式圆满举行
            p.has-text-grey-light 从长征精神到两学一做，社科党员身体力行
          section(class='section is-medium content-tab', id='work')
            h1.title.is-1.has-text-centered 党务工作
            p.has-text-grey-light 不忘初心，砥砺前行
            p.has-text-grey-light 社科学院“理论1+1”集中学习
    hr
    include components/footer.pug
