doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          aside.menu
            ul.menu-list.sticky
              li(data-target='cluster') 研究机构
              li(data-target='achievements') 学术成果
              li.accordion 学术期刊
                ul.accordion-panel
                  li(data-target='journal_review') 清华社会学评论
                  li(data-target='journal_research') 社会政策研究
              li(data-target='lectures') 学术讲座
        .column
          section(class='section is-medium content-tab is-active', id='cluster')
            h1.title.is-1.has-text-centered 研究机构
            p.has-text-grey-light 中心简介
            p.has-text-grey-light 一、中心宗旨：
            p.has-text-grey-light 中国人口结构的迅速老龄化和老年人生活质量是当代中国社会的一个重要问题。清华大学老年学中心将致力于探讨和认识人口和个人老龄化过程和规律，促进个人晚年生活质量的不断提高和老年人群对社会生活的积极参与，推动老年社会政策的不断改善。
            p.has-text-grey-light 二、中心基本目标：
            p.has-text-grey-light 作为一个研究和教学相结合的机构，我们计划在未来年月里实现如下目标： 1. 为跨学科、跨专业的老年问题基础研究提供充分的理论建设环境。 2. 开设各类适应老年社会需要的教育专业并承担对各类专业人才的老年学培训。 3. 组织和协调校内外老年学研究项目和活动。 4. 成为老年社会政策的思想库，为政府制定老年政策提供科学的依据和建议。
            p.has-text-grey-light 三、学术研究：
            p.has-text-grey-light 1．已完成的学术研究项目
            p.has-text-grey-light （1）北京市老年生活状况和养老模式的调查 (与香港城市大学合作项目)
            p.has-text-grey-light （2）中国养老保障政策回顾 （校内基金资助）
            p.has-text-grey-light （3）老年长期居住环境设计与服务规范和标准的国际比较研究 （与香港理工大学的合作项目）
            p.has-text-grey-light （4）北京养老产业的发展及其社会意义的研究 （日本寰宇基金会资助）
            p.has-text-grey-light （5）清华社区老年需求和信息化管理研究 （校内基金资助）
            p.has-text-grey-light 2．正在进行的学术研究项目
            p.has-text-grey-light （1）北京养老机构发展趋势和规划研究
            p.has-text-grey-light （2）老年健康和社会服务管理标准化问题研究
            p.has-text-grey-light （3）老年痴呆症相关的基因及相关代谢通路
            p.has-text-grey-light  四、主要研究人员：
            p.has-text-grey-light   李强教授，研究领域：社会分层与流动
            p.has-text-grey-light   郭于华教授，研究领域：代际关系
            p.has-text-grey-light   张小军教授，研究领域: 认知与文化
            p.has-text-grey-light   景军教授，研究领域：老年家庭关系和社区老年服务管理
            p.has-text-grey-light   裴晓梅副教授，研究领域：社会保障和长期健康照料
            p.has-text-grey-light   周燕珉副教授，研究领域：老年住宅建筑设计
            p.has-text-grey-light   崔保国教授，研究领域: 社会福利与大众传媒
            p.has-text-grey-light   谢佐平教授，研究领域：衰老生物学
            p.has-text-grey-light   请和我们联系
            p.has-text-grey-light   联系地址： 中国 北京 清华大学 社会学系 老年学中心
            p.has-text-grey-light   邮政编码： 100084
            p.has-text-grey-light   电话传真： 86-10-62772740
            p.has-text-grey-light   电子信箱： soc@tsinghua.edu.cn
          section(class='section is-medium content-tab', id='journal_review')
            h1.title.is-1 清华社会学评论
            p.has-text-grey-light 《清华社会学评论》是由清华大学社会学系主办的学术集刊。自2000年创刊以来，始终以“面对中国社会真问题，关注转型期实践逻辑，推动本土化理论研究”为宗旨，刊发过许多在学术界产生过较大影响的学术研究。近年来，《清华社会学评论》开始以热点主题形式组稿出版，通过热门主题的选取、独到的视角、精辟的论述，掀起了学术界对“面向社会转型的民族志”、“新生代农民工”等问题的讨论热潮，为社会学学界搭建了一个交流共进的学术平台。
            p.has-text-grey-light 《清华社会学评论》2018年第十辑目录
            p.has-text-grey-light 《清华社会学评论》2018年第九辑目录
            p.has-text-grey-light 清华大学社会学系《清华社会学评论》喜获“2017年度优秀学术集刊奖”
            p.has-text-grey-light 《清华社会学评论》征稿启事
          section(class='section is-medium content-tab', id='journal_research')
            h1.title.is-1 社会政策研究
            p.has-text-grey-light 《清华社会学评论》是由清华大学社会学系主办的学术集刊。自2000年创刊以来，始终以“面对中国社会真问题，关注转型期实践逻辑，推动本土化理论研究”为宗旨，刊发过许多在学术界产生过较大影响的学术研究。近年来，《清华社会学评论》开始以热点主题形式组稿出版，通过热门主题的选取、独到的视角、精辟的论述，掀起了学术界对“面向社会转型的民族志”、“新生代农民工”等问题的讨论热潮，为社会学学界搭建了一个交流共进的学术平台。
            p.has-text-grey-light 《清华社会学评论》2018年第十辑目录
            p.has-text-grey-light 《清华社会学评论》2018年第九辑目录
            p.has-text-grey-light 清华大学社会学系《清华社会学评论》喜获“2017年度优秀学术集刊奖”
          section.section.is-medium.content-tab(id='achievements')
            h1.title.is-1.has-text-centered 学术成果
            p 刘精明：我国儿童营养不良状况分析
            p 李强：改革开放40年中国社会分层结构之变迁
            p 罗家德、樊瑛：计算社会科学如何扎根真相
            p 张小军：当历史走进人类学家
            p 何晓斌、李强：中国实证社会科学的演进及使用大数据研究之现状与挑战
            p 严飞、曾丰又：历史社会学的本土自觉
            p 景军：现代预防医学在乡土中国的实践源头和本土化过程
            p 孙凤等：教育部门的投入溢出效应分析
          section.section.is-medium.content-tab(id='lectures')
            h1.title.is-1.has-text-centered 学术讲座
            include components/msg_list_view.pug
            include components/pagination.pug

    hr
    script(src='js/accordion.js')
    include components/footer.pug
