doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      section.section
        .columns.is-centered
          .intro.column.is-12
            figure.image.is-16by9
              img(src='images/Street-art-in-London_1913.jpg')
      section(class="section is-medium", id="about_us")
        article
          h1.title.is-1.has-text-centered About US
          p.has-text-grey-light
            Cras ultrices massa vel nisl cursus condimentum vel eu augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean arcu enim, maximus id pretium ut, ultrices non sem. Suspendisse euismod rutrum urna. Curabitur non magna sit amet sapien laoreet sollicitudin ac a sapien. Phasellus tempus lacus quis nibh ullamcorper, sit amet tincidunt massa imperdiet. Vivamus auctor dapibus odio non semper. Fusce aliquam enim sapien, quis suscipit odio semper ut. Donec fringilla feugiat diam, quis viverra massa venenatis sed.  
            Donec elementum ante lorem, in ornare tellus rhoncus eget. Cras ultrices maximus ex eu accumsan. Nulla varius, diam nec rutrum dignissim, mauris odio dignissim lectus, sit amet dignissim neque ex id tellus. Proin sit amet libero quam. In eros ante, bibendum sit amet turpis eu, pellentesque mattis sapien. Aliquam ornare nibh lacus, porttitor tempor urna consectetur vel. Sed sit amet tincidunt est. Morbi rutrum, tortor id tincidunt mattis, mauris nisi mollis neque, quis consectetur enim felis non risus. Nunc et nulla at quam consectetur viverra non vitae diam. Praesent eu justo facilisis, blandit purus luctus, mattis augue. Quisque faucibus nisl rutrum, maximus sapien eu, dapibus felis. Aenean facilisis feugiat viverra.

      section(class='section is-medium', id='dep_history')
        article
          h1.title.is-1.has-text-centered Department History
          p.has-text-grey-light
            Cras ultrices massa vel nisl cursus condimentum vel eu augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean arcu enim, maximus id pretium ut, ultrices non sem. Suspendisse euismod rutrum urna. Curabitur non magna sit amet sapien laoreet sollicitudin ac a sapien. Phasellus tempus lacus quis nibh ullamcorper, sit amet tincidunt massa imperdiet. Vivamus auctor dapibus odio non semper. Fusce aliquam enim sapien, quis suscipit odio semper ut. Donec fringilla feugiat diam, quis viverra massa venenatis sed.  
            Donec elementum ante lorem, in ornare tellus rhoncus eget. Cras ultrices maximus ex eu accumsan. Nulla varius, diam nec rutrum dignissim, mauris odio dignissim lectus, sit amet dignissim neque ex id tellus. Proin sit amet libero quam. In eros ante, bibendum sit amet turpis eu, pellentesque mattis sapien. Aliquam ornare nibh lacus, porttitor tempor urna consectetur vel. Sed sit amet tincidunt est. Morbi rutrum, tortor id tincidunt mattis, mauris nisi mollis neque, quis consectetur enim felis non risus. Nunc et nulla at quam consectetur viverra non vitae diam. Praesent eu justo facilisis, blandit purus luctus, mattis augue. Quisque faucibus nisl rutrum, maximus sapien eu, dapibus felis. Aenean facilisis feugiat viverra.
      hr
      section(class='section is-medium', id='message_chair')
        article
          h1.title.is-1.has-text-centered Message from Department Chair
          p.has-text-grey-light
            Cras ultrices massa vel nisl cursus condimentum vel eu augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean arcu enim, maximus id pretium ut, ultrices non sem. Suspendisse euismod rutrum urna. Curabitur non magna sit amet sapien laoreet sollicitudin ac a sapien. Phasellus tempus lacus quis nibh ullamcorper, sit amet tincidunt massa imperdiet. Vivamus auctor dapibus odio non semper. Fusce aliquam enim sapien, quis suscipit odio semper ut. Donec fringilla feugiat diam, quis viverra massa venenatis sed.  
            Donec elementum ante lorem, in ornare tellus rhoncus eget. Cras ultrices maximus ex eu accumsan. Nulla varius, diam nec rutrum dignissim, mauris odio dignissim lectus, sit amet dignissim neque ex id tellus. Proin sit amet libero quam. In eros ante, bibendum sit amet turpis eu, pellentesque mattis sapien. Aliquam ornare nibh lacus, porttitor tempor urna consectetur vel. Sed sit amet tincidunt est. Morbi rutrum, tortor id tincidunt mattis, mauris nisi mollis neque, quis consectetur enim felis non risus. Nunc et nulla at quam consectetur viverra non vitae diam. Praesent eu justo facilisis, blandit purus luctus, mattis augue. Quisque faucibus nisl rutrum, maximus sapien eu, dapibus felis. Aenean facilisis feugiat viverra.
    hr
    include components/footer.pug
