doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug

    .container
      section(class='section is-medium', id='admissions')
        h1.title Admissions
        include components/msg_list_view.pug

      section(class='section is-medium', id='employment')
        h1.title Employment
        hr 
        h2(class='title has-text-centered', id='faculty') Faculty Positions
        include components/msg_list_view.pug
        h2(class='title has-text-centered', id='postdoc') Postdoc Positions
        include components/msg_list_view.pug

    include components/footer.pug
