doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      section(class='section is-medium', id='contact')
        h1.title.is-1.has-text-centered Contact Us
        article.content
          Curabitur euismod, libero eu rutrum fringilla, ante odio iaculis mi, sed sagittis ipsum leo convallis augue. Suspendisse euismod, nulla eu ultricies accumsan, ante ligula varius lacus, non dignissim augue felis ut erat. Duis fringilla laoreet quam, id cursus orci viverra auctor. Suspendisse fermentum diam non erat euismod interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam aliquet vulputate erat, vestibulum facilisis libero efficitur ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis turpis eget nibh tempor porta a feugiat dui. Nullam non dapibus diam. Sed faucibus sem non libero pellentesque varius.<Paste>
      section(class='section is-medium', id='links')
        h1.title.is-1.has-text-centered Links
        article.content
          Curabitur euismod, libero eu rutrum fringilla, ante odio iaculis mi, sed sagittis ipsum leo convallis augue. Suspendisse euismod, nulla eu ultricies accumsan, ante ligula varius lacus, non dignissim augue felis ut erat. Duis fringilla laoreet quam, id cursus orci viverra auctor. Suspendisse fermentum diam non erat euismod interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam aliquet vulputate erat, vestibulum facilisis libero efficitur ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis turpis eget nibh tempor porta a feugiat dui. Nullam non dapibus diam. Sed faucibus sem non libero pellentesque varius.<Paste>
    include components/footer.pug
