doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    section.container
      .columns
        .column.is-4
          .box
            figure.image
              img(src='images/feiyan.jpg')
              figcaption
                p.has-text-purple.has-text-centered.is-size-6 严飞      副教授
                p.has-text-centered.is-size-7 《清华社会学评论》 执行主编
        .column.is-8
          article
            .box
              p.has-text-grey-light
                | 研究领域: 历史社会学      政治社会学     文化社会学
                br
                | 教育经历：
                br
                | 2014年，牛津大学社会学系，博士学位 2011年，斯坦福大学东亚研究系，硕士学位
                br
                | 2005年，牛津大学社会政策系，硕士学位 2004年，复旦大学社会学系，学士学位
                br
                | 工作经历:
                br
                | 2017年—迄今，清华大学社会学系，副教授
                br
                | 2016年—2017年，清华大学社会学系，助理教授
                br
                | 2015年—2016年，斯坦福大学亚太研究中心，Visiting Research Fellow
                br
                | 2014年—2015年，斯坦福大学亚太研究中心，Postdoctoral Fellow
                br
                | 2012年—2014年，斯坦福大学社会学系，Pre-doctoral Fellow
                br
                | 2005年—2008年，香港城市大学应用社会科学系，Research Associate
                br
              p
      .container
        article.message
          .message-body.content
            ul
              li Li, Shuanglong, Yunsong Chen and Fei Yan. 2019. “Searching for red songs: The politics of revolutionary nostalgia in contemporary China.” The China Quarterly
              li Yan, Fei, Zhou Zhong, Haoning Wang and Qiao Wen. 2019. “Grafting identity: Textbook reform and identity building in contemporary China.” Journal of Educational Change
              li Fan, Xiaoguang and Fei Yan. 2019. “The long shadow: Social mobility and political participation in urban China, 2006–2012.” Social Science Research
              li Yan, Fei. 2019. “Dynamics of multidimensional interaction in social movements.” International Sociological Association E-Symposium
              li Yan, Fei. 2019. Review of “Violence, Periodization and Definition of the Cultural Revolution: A Case Study of Two Deaths of the Red Guards.” By Joshua Zhang and James D. Wright (Leiden: Brill, 2018). The China Journal, 82
              li Yan, Fei. 2019. Review of “The Contentious Public Sphere: Law, Media, and Authoritarian Rule in China.” By Ya-wen Lei (New Jersey, NY: Princeton University Press, 2017). Studies of Transition States and Societies, 11(1)
              li Yan, Fei. 2018. “Political dynamics of mass factionalism: Rethinking factional conflict in Guangzhou, 1967.” China: An International Journal, 16(4), 1–25.
              li Yan, Fei, Guangye He and Yunsong Chen. 2018. “The health consequences of social mobility in contemporary China.” International Journal of Environmental Research and Public Health, 15(12), 2644.
              li Yan, Fei. 2018. “Urban poverty, economic restructuring, and poverty reduction policy in urban China: Evidence from Shanghai, 1978–2008.” Development Policy Review, 36(4), 465–481.
              li Chen, Yunsong and Fei Yan. 2018. “International visibility as determinants of foreign direct investment: An empirical study of Chinese provinces.” Social Science Research, 76, 23–39.
              li Chen, Yunsong, Fei Yan and Yi Zhang. 2017. “Local name, global fame: The international visibility of Chinese cities in modern times.” Urban Studies, 54(11), 2652–2668.
              li Yang, Wenqi and Fei Yan. 2017. “The annihilation of femininity in Mao’s China: Gender inequality of sent-down youth during the Cultural Revolution.” China Information, 31(1), 63–83.
              li Yan, Fei. 2017. Review of “Protest Cultures: A Companion.” By Kathrin Fahlenbrach, Martin Klimke and Joachim Scharloth (eds.) (New York: Berghahn, 2016). Social History, 42(2), 304–305.
              li Chen, Yunsong and Fei Yan. 2016. “Centuries of sociology in millions of books.” The Sociological Review, 64(4), 872–893.
              li Chen, Yunsong and Fei Yan. 2016. “Economic performance and public concerns about social class in twentieth-century books.” Social Science Research, 59, 37–51.
              li Yan, Fei. 2016. “Chinese Cultural Revolution.” In Janeen Baxter (ed.). Oxford Bibliographies in Sociology. New York: Oxford University Press.
              li Yan, Fei. 2015. “Rival rebels: The political origins of Guangzhou’s mass factions in 1967.” Modern China, 41(2), 168–196.
              li [Winner of Graduate Student Best Paper Prize, China and Inner Asia Council, Association for Asian Studies]
              li Yan, Fei. 2015. Review of “Will China Democratize.” By Andrew Nathan, Larry Diamond and Marc F. Plattner (eds.) (Baltimore, MA: The Johns Hopkins University Press, 2013). Political Studies Review, 13(3), 462.
              li Yan, Fei. 2013. “A little spark kindles a great fire? The paradox of China’s rising wave of protest.” Social Movement Studies, 12(3), 342–348.
              li Yan, Fei. 2013. “Nationalist movements in Korea and Taiwan under Japanese colonialism: Homogeneity and diversity.” Stanford Journal of East Asian Affairs, 13(1), 100–107.
              li Yan, Fei. 2013. Review of “Abnormality and Normality: Social Life during the Cultural Revolution in Shanghai (Feichang yu zhengchang: Shanghai wenge shiqi de shehui shenghuo).” By Jin Dalu (Shanghai: Shanghai cishu chubanshe, 2011). The China Review, 13(1), 175–177.
              li Yu, Hai and Fei Yan. 2011. “A story of Shanghai spaces: From the Maoist to the Dengist era.” Global Urban Studies, 4, 31–45.
              li Yan, Fei. 2011. Review of “Beyond the Neon Lights: Everyday Shanghai in the Early Twentieth Century.” By Lu Hanchao (Berkeley, CA: University of California Press, 1999). Stanford Journal of East Asian Affairs, 11(1), 186–187.
              li Yan, Fei. 2010. Review of “The Rise and Fall of Guangzhou’s Red Flag Faction (Guangzhou hongqipai de xingwang).” By Liu Guokai (New York: Broad Press Publisher, 2006). Stanford Journal of East Asian Affairs, 10(2), 156–157.
              li Yan, Fei. 2009. Review of “State and Laid-Off Workers in Reform China: The Silence and Collective Action of the Retrenched.” By Cai Yongshun (New York: Routledge, 2006). Asian Journal of Social Science, 37(6), 958–959.
              li Yan, Fei. 2008. “The rising urban poverty and political resentment in a transitional China: The experience of Shanghai.” Journal of Politics and Law, 1(1), 15–25.
              li Yan, Fei. 2005. “Education problems with urban migratory children in China.” Journal of Sociology & Social Welfare, 32(3), 3–10.
              li 中文
              li 伍博深、严飞（2019）从监督成本反思农业合作化问题，《中国研究》
              li 严飞、曾丰又（2018）历史社会学的本土自觉：革命、国家治理与教育再生产，《学海》， 第3期，页35-43。
              li 严飞（2018）暴力的欢愉，终将导致暴力的结局，《读书》，第7期，页84-93。
              li 严飞、祝宇清（2018）我国香港地区的医疗保障体系及其对内地的启示，《社会政策研究》， 总第10期，页47-58。 （全文转载于人大报刊复印资料《社会保障制度》，2018年第7期，页51-58）
              li 严飞（2017）历史、社会与历史社会学，《清华社会学评论》，第8辑，页5-14。
              li （全文转载于人大报刊复印资料《社会学文摘》，2018年第2期，页22-24）
              li 严飞（2017）历史转折中的香港，《二十一世纪》，第161期，页124-131。
              li 陈云松、严飞（2017）网络舆情是否影响股市行情？基于新浪微博大数据的ARDL模型边限分析，《社会》，第37卷第2期，页51-73。
              li 陈云松、严飞、张翼（2016）“大数据”的文化建设战略价值：案例和实践，《学术论坛》，第305期，页89-96。 （全文转载于《新华文摘》，2016年第21期，页112-114）
              li 严飞（2016）政治运动中的集体暴力，《二十一世纪》，第155期，页61-75。
              li 陈云松、孙艳、严飞（2015）大数据中的中国世界文化遗产：五百年国际知名度分析，《学术论坛》，第299期，页92-98。
              li （全文转载于《新华文摘》，2016年第8期，页62-66）
              li 严飞、韩君（2015）从“刚性维稳”到“柔性维稳”：中国韧性威权的社会组织基础，《亚洲研究》（香港），第70期，页19-40。
              li 严飞（2015）香港的新贫阶层及其制度性根源，《二十一世纪》，第147期，页131-140。
              li 严飞（2013）香港：这是一个撕裂的社会吗？《二十一世纪》，第140期，页120-124。
              li 严飞（2013）殖民管治香港的要义，《二十一世纪》，第137期，页122-129。
              li 严飞（2011）香港大陆化，还是大陆民主化，《二十一世纪》，第128期，页15-22。
              li 严飞（2008）政府干预vs放任市场：香港的实践，《社会学家茶座》，第25期，页29-33。
              li 岳晓东、严飞（2007）青少年偶像崇拜的代际差异，《青年研究》，第5期，页1-8。
              li 岳晓东、严飞（2007）青少年偶像崇拜的性别差异，《青年研究》，第4期，页15-20。
              li 岳晓东、严飞（2007）青少年偶像崇拜的年龄差异，《青年研究》，第3期，页8-14。
              li 岳晓东、严飞、应力（2006）中国大陆青少年网络成瘾现状与对策探讨，《校园心理》，第12期，页3-8。
              li 岳晓东、严飞（2006）青少年偶像崇拜之心理机制探究，《中国德育》，第12期，页11-16。
              li 岳晓东、严飞（2006）8-中国大陆心理咨询本土化发展：问题与对策，《国际中华应用心理学杂志》，第3卷第3期，页193-199。
              li 严飞（2002）重点大学大学生人格障碍分析，《社会心理研究》，第4期，页21-26。
              li 著作
              li 《离岸与在地：追寻中国的中国性》，香港城市大学出版社，2019
              li 《香港的焦虑》，香港文化工房，2018年
              li 《学问的冒险》，中信出版社，2017年
              li 《城市的张望》，中信出版社，2017年
              li 《我们的香港》，香港文化工房，2014年
              li 《我要的香港》（简体版），浙江大学出版社，2013年
              li 《我要的香港》（繁体版），香港文化工房，2012年
              li 《门槛上的香港》，Bristol, UK: TalkTone New Media, 2008年
              li 《还君明珠 香港琐谈》，四川大学出版社，2008年
              li 主编
              li 香港文化行者系列，浙江大学出版社
              li 现代性与中国社会系列，香港城市大学出版社
              li 译文
              li “1966-1968 年北京大学红卫兵的派系冲突”，原作魏昂德，《当代中国研究》，2013年，第1期，页47-79.
              li “当代中国问题研究之转型：1977-2002”，原作魏昂德，《当代海外中国研究》，2013年，第2辑，页20-41.
              li “中国改革之三十年”，原作魏昂德，《当代海外中国研究（美国版）》，2012年，第1卷，页10-19.
              li “从控制权到所有权：中国的经理革命”，原作魏昂德，《当代海外中国研究》，2010年，第1辑，页29-48.
    hr
    include components/footer.pug
