doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    section.container
      h1(class='subtitle is-1', id='overview') Faculty Overview
      article Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum purus quis mauris ornare, vel dapibus orci laoreet. Vestibulum at magna quis augue consectetur dictum. Curabitur vulputate tincidunt mauris. Curabitur congue erat ante, vel auctor tellus tristique eget. Vivamus vestibulum odio in tellus venenatis, eget volutpat nulla egestas. Praesent dignissim ex interdum bibendum faucibus. Integer sit amet fringilla lectus. Etiam ultricies ullamcorper imperdiet. Nullam vel nibh et libero mollis scelerisque vitae sit amet mauris. Mauris dapibus enim lacus, sit amet dictum leo dignissim eu. Aliquam erat volutpat. Vestibulum imperdiet tortor vel diam ultricies, quis finibus est faucibus. Vestibulum imperdiet sit amet turpis ac lacinia. Aenean non mauris vestibulum, hendrerit ipsum quis, luctus ligula.

      hr

      h1(class='subtitle is-1', id='faculty') Faculty

      h2(class='subtitle is-2 has-text-centered', id='sociology') Sociology Faculty
      .sandbox
        each row in [1, 2, 3]
          .columns.is-centered.is-9
            each col in [1, 2, 3]
              .column.is-3
                .box
                  figure.image
                    .hvrbox
                      img(src='images/feiyan.jpg')
                      .hvrbox-layer_top
                        .hvrbox-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.
                        figcaption
                          p.has-text-purple.has-text-centered.is-size-6 Fei Yan
                          p.has-text-centered.is-size-7 Contentious politics
      h2(class='subtitle is-2 has-text-centered', id='affliates') Faculty Afflilates
      .sandbox
        each row in [1, 2, 3]
          .columns.is-centered.is-9
              each col in [1, 2, 3]
                .column.is-3
                  .box
                    figure.image
                      .hvrbox
                        img(src='images/feiyan.jpg')
                        .hvrbox-layer_top
                          .hvrbox-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.
                      figcaption
                        p.has-text-purple.has-text-centered.is-size-6 Fei Yan
                        p.has-text-centered.is-size-7 Contentious politics

      h2(class='subtitle is-2 has-text-centered', id='emerti') Emeriti
      .sandbox
        each row in [1, 2 ]
          .columns.is-centered.is-9
              each col in [1, 2, 3]
                .column.is-3
                  .box
                    figure.image
                      .hvrbox
                        img(src='images/feiyan.jpg')
                        .hvrbox-layer_top
                          .hvrbox-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.
                      figcaption
                        p.has-text-purple.has-text-centered.is-size-6 Fei Yan
                        p.has-text-centered.is-size-7 Contentious politics
      hr
      h1(class='subtitle is-1', id='staff') Staff
      .sandbox
        each row in [1, 2]
          .columns.is-centered.is-9
              each col in [1, 2, 3]
                .column.is-3
                  .box
                    figure.image
                      .hvrbox
                        img(src='images/feiyan.jpg')
                        .hvrbox-layer_top
                          .hvrbox-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.
                      figcaption
                        p.has-text-purple.has-text-centered.is-size-6 Fei Yan
                        p.has-text-centered.is-size-7 Contentious politics
    hr
    include components/footer.pug
