doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    section.container
      .intro.column.is-12
        figure.image.is-16by9
          img(src='images/Street-art-in-London_1913.jpg')
      .sandbox
        .tile.is-ancestor
          .tile.is-parent.is-9.is-vertical
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title Hello World
                hr.has-background-grey-light
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title academic
                hr.has-background-grey-light
                p.subtitle Bar
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title Foo
                hr.has-background-grey-light
                p.subtitle Bar
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title Foo
                hr
                p.subtitle Bar
          .tile.is-parent.is-3.is-shady
            article.tile.is-child.notification.is-white
              p.title Third column
              p.subtitle With some content
              .content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    include components/footer.pug
