doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    i.page.fa.fa-angle-left.fa-4x.is-pulled-left
    i.page.fa.fa-angle-right.fa-4x.is-pulled-right
    section.container
      h1.subtitle.is-1 Simple headings to add depth to your page
      article Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum purus quis mauris ornare, vel dapibus orci laoreet. Vestibulum at magna quis augue consectetur dictum. Curabitur vulputate tincidunt mauris. Curabitur congue erat ante, vel auctor tellus tristique eget. Vivamus vestibulum odio in tellus venenatis, eget volutpat nulla egestas. Praesent dignissim ex interdum bibendum faucibus. Integer sit amet fringilla lectus. Etiam ultricies ullamcorper imperdiet. Nullam vel nibh et libero mollis scelerisque vitae sit amet mauris. Mauris dapibus enim lacus, sit amet dictum leo dignissim eu. Aliquam erat volutpat. Vestibulum imperdiet tortor vel diam ultricies, quis finibus est faucibus. Vestibulum imperdiet sit amet turpis ac lacinia. Aenean non mauris vestibulum, hendrerit ipsum quis, luctus ligula.
      .intro.column.is-12
        figure.image.is-16by9
          img(src='images/Street-art-in-London_1913.jpg')
      article
        | Ut eu malesuada leo. Nunc ac dolor turpis. Vivamus ac rhoncus sem. Vestibulum a nisi porttitor, ullamcorper arcu non, ornare nibh. Nulla suscipit mattis mi et ultrices. Etiam ac ex malesuada, rutrum justo a, pharetra nisl. Sed accumsan massa sit amet neque sodales placerat.
        br
        | Aliquam varius turpis in finibus malesuada. Nam lacinia sit amet metus consectetur vulputate. Maecenas egestas placerat turpis ut vulputate. In magna ligula, hendrerit vel justo vel, aliquet aliquet velit. Proin finibus mauris id tellus rutrum, ornare mollis mauris facilisis. Phasellus placerat, ex ut viverra gravida, est mi facilisis dui, in tincidunt urna diam non metus. Suspendisse ullamcorper risus nec odio iaculis ornare. Donec tempus sapien quis faucibus sagittis. Mauris rutrum nibh sed arcu efficitur euismod. Nullam augue leo, rhoncus non cursus eu, laoreet ut ante. In gravida orci eu purus maximus faucibus. Nulla augue ante, viverra sit amet eros id, gravida condimentum mauris. Nunc porttitor nunc in iaculis mattis.
        br
        | Maecenas eleifend augue eu feugiat volutpat. Donec sapien velit, commodo sit amet congue maximus, sollicitudin vitae nibh. Sed neque enim, sollicitudin nec nulla ac, ultricies iaculis nisl. Nullam ac tristique justo, at vulputate augue. Praesent eget ipsum dapibus quam consequat imperdiet. Nulla nec elementum mi, eu convallis neque. Ut eleifend vestibulum enim quis iaculis. Quisque ac nisi id urna maximus maximus. Curabitur et diam quis quam feugiat porttitor.
        br
        | Suspendisse sit amet ipsum dictum, aliquet quam sed, pharetra ligula. Integer lacinia feugiat neque eu commodo. Pellentesque euismod mauris ac dui faucibus euismod. Mauris ornare ipsum ligula, quis elementum risus fermentum quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum aliquam hendrerit tempor. Aenean suscipit viverra metus non mollis. Nullam facilisis leo auctor neque sagittis, ac luctus ipsum interdum. Nunc hendrerit mattis tellus in varius. In hac habitasse platea dictumst. Etiam diam nisl, aliquet a eros at, egestas auctor lorem. Aliquam at suscipit massa, ac commodo ex. Suspendisse imperdiet ipsum mi, nec volutpat ipsum egestas quis. Donec faucibus nisi in aliquet accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque a condimentum sem.
    hr
    include components/footer.pug
