doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      section(class='section is-medium', id='activity')
        h1.title.is-1.has-text-centered Party Activities
        include components/msg_list_view.pug
      section(class='section is-medium', id='build')
        h1.title.is-1.has-text-centered Party Building
        include components/msg_list_view.pug

    hr
    include components/footer.pug
